body {
  background-image: linear-gradient(to right, #ff0000, #000000); /* Red to Black */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; /* White text */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
